{% extends "base_shop.html" %}
{% load static %}

{% block content %}
{% include "header.html" %}


<div class="blog-grid-section mt-110 mb-110">
  <div class="container-md container-fluid">
    <div class="row g-4 mb-80 justify-content-center">
      {% for blog in blogs %}
      <div class="col-lg-4 col-sm-6">
        <div class="article-card">
          <div class="article-image">
            <a href="blog-details.html" class="article-card-img hover-img">
              <img src="{{blog.image.url}}" alt>
            </a>
            <div class="blog-date">
              <a href="blog-grid.html">{{blog.date}}</a>
            </div>
          </div>
          <div class="article-card-content">
            <div class="tag">
              <ul>
                {% for tag in blog.tags.all %}
                <li>
                  <a href="">{{tag.name}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <h5><a href="blog-details.html" class="hover-underline">{{blog.title}}</a>
            </h5>
            <p>{{blog.description|truncatechars:120}}</p>
            <a href="{% url "show_blog_url" blog.id %}">بیشتر بخوانید</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- سایر مقالات به همین ترتیب -->
    </div>

    <nav class="shop-pagination">
      <ul class="pagination-list">
        {% if blogs.has_previous %}
        <li>
          <a href="?page={{ blogs.previous_page_number }}" class="shop-pagi-btn">
            <i class="bi bi-chevron-left"></i>
          </a>
        </li>
        {% else %}
        <li>
          <span class="shop-pagi-btn disabled"><i class="bi bi-chevron-left"></i></span>
        </li>
        {% endif %}

        {% for num in blogs.paginator.page_range %}
        {% if num == blogs.number %}
        <li><a href="?page={{ num }}" class="active">{{ num }}</a></li>
        {% elif num > blogs.number|add:'-3' and num < blogs.number|add:'3' %} <li><a
            href="?page={{ num }}">{{ num }}</a></li>
          {% elif num == 1 or num == blogs.paginator.num_pages %}
          <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% elif num == blogs.number|add:'-3' or num == blogs.number|add:'3' %}
          <li><span><i class="bi bi-three-dots"></i></span></li>
          {% endif %}
          {% endfor %}

          {% if blogs.has_next %}
          <li>
            <a href="?page={{ blogs.next_page_number }}" class="shop-pagi-btn">
              <i class="bi bi-chevron-right"></i>
            </a>
          </li>
          {% else %}
          <li>
            <span class="shop-pagi-btn disabled"><i class="bi bi-chevron-right"></i></span>
          </li>
          {% endif %}
      </ul>
    </nav>

  </div>
</div>




{% include "footer.html" %}
{% endblock content %}