{% extends "base_shop.html" %}
{% block content %}

{% include "header.html" %}

<div class="blog-details-section mt-110 mb-110">
  <div class="container">

    <div class="row g-lg-4 gy-5">
      <div class="col-lg-8">
        <div class="blog-author-meta">
          <div class="author-area">
            <div class="author-img">
              <img src="{{blog.image.url}}" alt="تصویر نویسنده">
            </div>
            <div class="author-content">
              <p>
                نویسنده: <a href="#">{{blog.author}}</a>
              </p>
            </div>
          </div>
          <div class="blog-meta">
            <div class="tag">
              <ul>
                {% for tag in blog.tags.all %}
                  <li><a href="blog-grid.html">{{tag.name}}</a></li>              
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="blog-thumb">
          <img src="assets/img/inner-page/blog-thumb-img.png" alt>
          <a href="">{{blog.date}}</a>
        </div>
        <div class="blog-content">
          <h1>{{blog.title}}</h1>
          <p>{{blog.description}}</p>
        </div>

      </div>
      
      <div class="col-lg-4">
        <img src="{{blog.image.url}}" alt="">
      </div>

    </div>

    <div class="blog-tag-and-social">
      <div class="tag">
        <h6>برچسب‌ها:</h6>
        <ul class="tag-list">
          {% for tag in blog.tags.all %}
            <li>
              <a href="blog-grid.html">{{tag.name}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="social">
        <h6>به اشتراک بگذارید:</h6>
        <ul class="social-list">
          <li>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>


  </div>
</div>

{% include "footer.html" %}

{% endblock content %}


