{% extends "base_shop.html" %}
{% load static %}
{% load humanize %}

{% block content %}
{% include "header.html" %}

<div class="checkout-section pt-110 mb-110">
  <form method="POST">
  <div class="container">
    {% if cart_items %}
    <div class="row gy-5">
      <div class="col-lg-7">
        
        <div class="form-wrap mb-30">
          <h4>جزئیات صورتحساب</h4>
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-6">
                <div class="form-inner">
                  <label>نام</label>
                  <input type="text" name="fname" placeholder="نام شما" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-inner">
                  <label>نام خانوادگی</label>
                  <input type="text" name="lname" placeholder="نام خانوادگی شما" required>
                </div>
              </div>
              <div class="col-12">
                <div class="form-inner">
                  <label>آدرس خیابان</label>
                  <input type="text" name="address" placeholder="نام خانه و خیابان">
                </div>
              </div>
              <div class="col-12">
                <div class="form-inner">
                  <label>شهر</label>
                  <input type="text" class="form-control" name="city" placeholder="شهر خود را وارد کنید" required>
                </div>
              </div>
              <div class="col-12">
                <div class="form-inner">
                  <label>کد پستی</label>
                  <input type="text" name="postcode" placeholder="کد پستی">
                </div>
              </div>
              <div class="col-12">
                <div class="form-inner">
                  <label>شماره تلفن</label>
                  <input type="text" name="phone" placeholder="شماره تلفن شما">
                </div>
              </div>
              <div class="col-12">
                <div class="form-inner">
                  <label>ایمیل</label>
                  <input type="email" name="email" placeholder="آدرس ایمیل شما">
                </div>
              </div>
              <div class="col-12">
                <div class="form-inner">
                  <label>توضیحات سفارش</label>
                  <textarea name="message" placeholder="توضیحات سفارش (اختیاری)" rows="6"></textarea>
                </div>
              </div>
            </div>
        </div>

      </div>

      <!-- خلاصه سفارش -->
      <div class="col-lg-5">
        <div class="added-product-summary mb-30">
          <h5>خلاصه سفارش</h5>
          <ul class="added-products">
            {% for item in cart_items %}
            <li class="single-product">
              <div class="product-area">
                <p></p>
                <div class="product-img">
                  <img src="{{item.product.image1.url}}" alt>
                </div>
                <div class="product-info">
                  <h5>{{ item.product.name }}</h5>
                  <div class="product-total">
                    <div class="quantity-counter">
                      <span>تعداد: {{ item.stock }}</span>
                    </div>
                    <strong>
                      {% if item.product.special_price %}
                       <span class="product-price" style="font-size: 10px;">{{item.product.special_price|intcomma}} تومان<del>{{ item.product.price|intcomma}} تومان</del></span>  
                      {% else %}
                      <span class="product-price">{{ item.product.price|intcomma}} تومان</span>
                      {% endif %}
                    </strong>
                  </div>
                </div>
              </div>
              <div class="delete-btn">
            </li>
            {% endfor %}
          </ul>
        </div>

        <!-- جدول هزینه‌ها -->
        <div class="cost-summary mb-30">
          <table class="table cost-summary-table">
            <thead>
              <tr>
                <th>جمع جزء</th>
                <th>{{ subtotal|intcomma }} تومان</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>هزینه ارسال</td><td>{{ 60000|intcomma }} تومان</td></tr>
            </tbody>
          </table>
        </div>
        <div class="cost-summary total-cost mb-30">
          <table class="table cost-summary-table total-cost">
            <thead>
              <tr>
                <th>جمع کل</th>
                <th>{{ total_price|intcomma }} تومان</th>
              </tr>
            </thead>
          </table>
        </div>

        <!-- پرداخت -->
        <button type="submit" class="btn btn-primary w-100">پرداخت</button>

      </div>
    </div>

    {% else %}
    <h2 class="text-center w-100">چیزی برای ثبت سفارش نیست</h2>
    <h4 class="text-center w-100">چون سبد خرید خالی است</h4>
    {% endif %}
    
  </div>
</div>
</form>

{% include "footer.html" %}
{% endblock content %}


