{% extends "base_shop.html" %}
{% load static %}

{% block content %}

{% include "header.html" %}

<div class="faq-section mt-110 mb-110">
  <div class="container">
    <div class="faq-title">
      <h1>سوالات
        <svg xmlns="http://www.w3.org/2000/svg" width="53" height="50" viewBox="0 0 53 50">
          <path
            d="M26.7227 10.7143L34.7395 0L35.1849 13.8393L48.1008 9.82143L40.084 20.792L53 25.4464L40.084 29.4643L48.1008 40.625L34.7395 36.1607V50L26.2773 38.8393L18.2605 50L17.8151 36.1607L4.89916 40.1786L12.916 29.4643L0 25L12.916 20.5357L4.89916 9.82143L18.2605 13.3929V0L26.7227 10.7143Z" />
        </svg> <br>
        <span>متداول‌ترین سوالات</span>
      </h1>
    </div>
    <div class="row g-4 mb-110">
      <div class="col-lg-4">
        <div class="faq-item">
          <h3>سفارشات
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="25" viewBox="0 0 27 25">
              <path
                d="M13.3613 5.35714L17.3697 0L17.5924 6.91964L24.0504 4.91071L20.042 10.396L26.5 12.7232L20.042 14.7321L24.0504 20.3125L17.3697 18.0804V25L13.1387 19.4196L9.13025 25L8.90756 18.0804L2.44958 20.0893L6.45798 14.7321L0 12.5L6.45798 10.2679L2.44958 4.91071L9.13025 6.69643V0L13.3613 5.35714Z" />
            </svg>
          </h3>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="faq-content">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  01. چگونه می‌توانم یک سفارش ثبت کنم؟
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  برای ثبت سفارش، باید محصولات مورد نظر خود را انتخاب کرده و مراحل خرید را دنبال کنید. اطلاعات مورد
                  نیاز شامل آدرس تحویل و جزئیات پرداخت است. بعد از اتمام مراحل خرید، تأییدیه‌ای برای شما ارسال خواهد
                  شد.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  02. چه اطلاعاتی برای ثبت سفارش باید ارائه دهم؟
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  هنگام ثبت سفارش، باید اطلاعاتی نظیر نام و نام خانوادگی، آدرس تحویل، شماره تماس و روش پرداخت را ارائه
                  دهید. این اطلاعات برای اطمینان از تحویل صحیح سفارش به شما ضروری است.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  03. آیا می‌توانم پس از ثبت سفارش تغییراتی ایجاد کنم؟
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  بله، در صورتی که سفارش شما هنوز در حال پردازش باشد، می‌توانید تغییرات لازم را درخواست کنید. لطفاً
                  هرچه سریع‌تر با پشتیبانی مشتریان تماس بگیرید تا تغییرات مورد نظر انجام شود.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  04. چگونه می‌توانم وضعیت سفارش خود را پیگیری کنم؟
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  برای پیگیری وضعیت سفارش، می‌توانید از طریق حساب کاربری خود وارد شده و بخش "پیگیری سفارش" را بررسی
                  کنید. همچنین، می‌توانید با شماره تماس پشتیبانی مشتریان تماس بگیرید.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  05. اگر سفارش من آسیب دیده یا ناقص باشد، چه باید کرد؟
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  در صورت آسیب دیدگی یا نقص در سفارش، لطفاً فوراً با خدمات مشتریان تماس بگیرید و مدارک لازم مانند عکس
                  از وضعیت محصول را ارائه دهید. ما به سرعت اقدامات لازم را انجام خواهیم داد.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-4 mb-110">
      <div class="col-lg-4">
        <div class="faq-item">
          <h3>محصولات
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="25" viewBox="0 0 27 25">
              <path
                d="M13.3613 5.35714L17.3697 0L17.5924 6.91964L24.0504 4.91071L20.042 10.396L26.5 12.7232L20.042 14.7321L24.0504 20.3125L17.3697 18.0804V25L13.1387 19.4196L9.13025 25L8.90756 18.0804L2.44958 20.0893L6.45798 14.7321L0 12.5L6.45798 10.2679L2.44958 4.91071L9.13025 6.69643V0L13.3613 5.35714Z" />
            </svg>
          </h3>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="faq-content">
          <div class="accordion" id="accordionExample2">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-01">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-01"
                  aria-expanded="true" aria-controls="collapse-01">
                  01. ویژگی‌ها و مشخصات محصول چیست؟
                </button>
              </h2>
              <div id="collapse-01" class="accordion-collapse collapse show" aria-labelledby="heading-01"
                data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                  برای اطلاع از ویژگی‌ها و مشخصات محصول، لطفاً به توضیحات موجود در صفحه محصول مراجعه کنید. مشخصات فنی،
                  ابعاد و دیگر اطلاعات مرتبط با محصول در آنجا درج شده است.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-02">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-02" aria-expanded="false" aria-controls="collapse-02">
                  02. آیا می‌توانم نمونه‌ای از محصول را قبل از خرید ببینم؟
                </button>
              </h2>
              <div id="collapse-02" class="accordion-collapse collapse" aria-labelledby="heading-02"
                data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                  معمولاً ما نمونه‌های محصولات را برای بازدید حضوری ارائه نمی‌دهیم. اما می‌توانید تصاویر و توضیحات
                  دقیق محصول را در صفحه محصول مشاهده کنید.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-03">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-03" aria-expanded="false" aria-controls="collapse-03">
                  03. آیا محصولات گارانتی دارند؟
                </button>
              </h2>
              <div id="collapse-03" class="accordion-collapse collapse" aria-labelledby="heading-03"
                data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                  بله، اکثر محصولات دارای گارانتی هستند. برای اطلاعات دقیق در مورد شرایط و مدت زمان گارانتی، لطفاً به
                  صفحه محصول مراجعه کنید یا با پشتیبانی مشتریان تماس بگیرید.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-04">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-04" aria-expanded="false" aria-controls="collapse-04">
                  04. آیا امکان سفارش محصول خاصی وجود دارد؟
                </button>
              </h2>
              <div id="collapse-04" class="accordion-collapse collapse" aria-labelledby="heading-04"
                data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                  در صورتی که محصول خاصی را مد نظر دارید که در سایت موجود نیست، لطفاً با پشتیبانی مشتریان تماس بگیرید
                  تا امکان سفارش و تهیه آن محصول بررسی شود.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-05">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-05" aria-expanded="false" aria-controls="collapse-05">
                  05. چگونه می‌توانم محصولی را که پسندیدم انتخاب کنم؟
                </button>
              </h2>
              <div id="collapse-05" class="accordion-collapse collapse" aria-labelledby="heading-05"
                data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                  برای انتخاب محصول، کافی است آن را به سبد خرید اضافه کنید و سپس مراحل پرداخت را دنبال کنید. قبل از
                  تکمیل خرید، می‌توانید محصولات انتخابی خود را مرور کنید.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-4 mb-110">
      <div class="col-lg-4">
        <div class="faq-item">
          <h3>پرداخت
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="25" viewBox="0 0 27 25">
              <path
                d="M13.3613 5.35714L17.3697 0L17.5924 6.91964L24.0504 4.91071L20.042 10.396L26.5 12.7232L20.042 14.7321L24.0504 20.3125L17.3697 18.0804V25L13.1387 19.4196L9.13025 25L8.90756 18.0804L2.44958 20.0893L6.45798 14.7321L0 12.5L6.45798 10.2679L2.44958 4.91071L9.13025 6.69643V0L13.3613 5.35714Z" />
            </svg>
          </h3>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="faq-content">
          <div class="accordion" id="accordionExample3">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-06">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-06"
                  aria-expanded="true" aria-controls="collapse-06">
                  01. چه روش‌های پرداختی را قبول می‌کنید؟
                </button>
              </h2>
              <div id="collapse-06" class="accordion-collapse collapse show" aria-labelledby="heading-06"
                data-bs-parent="#accordionExample3">
                <div class="accordion-body">
                  ما روش‌های پرداخت مختلفی از جمله کارت‌های اعتباری، انتقال بانکی و پرداخت نقدی در محل را قبول
                  می‌کنیم. جزئیات بیشتر در صفحه پرداخت موجود است.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-07">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-07" aria-expanded="false" aria-controls="collapse-07">
                  02. آیا پرداخت آنلاین امن است؟
                </button>
              </h2>
              <div id="collapse-07" class="accordion-collapse collapse" aria-labelledby="heading-07"
                data-bs-parent="#accordionExample3">
                <div class="accordion-body">
                  بله، پرداخت آنلاین از طریق سیستم‌های امن و رمزگذاری شده انجام می‌شود. ما از استانداردهای امنیتی بالا
                  برای حفاظت از اطلاعات شما استفاده می‌کنیم.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-08">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-08" aria-expanded="false" aria-controls="collapse-08">
                  03. آیا امکان پرداخت قسطی وجود دارد؟
                </button>
              </h2>
              <div id="collapse-08" class="accordion-collapse collapse" aria-labelledby="heading-08"
                data-bs-parent="#accordionExample3">
                <div class="accordion-body">
                  در حال حاضر، ما امکان پرداخت قسطی را ارائه نمی‌دهیم. تمام پرداخت‌ها باید به صورت کامل در زمان خرید
                  انجام شوند.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-09">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-09" aria-expanded="false" aria-controls="collapse-09">
                  04. آیا می‌توانم بعد از پرداخت، مبلغ را تغییر دهم؟
                </button>
              </h2>
              <div id="collapse-09" class="accordion-collapse collapse" aria-labelledby="heading-09"
                data-bs-parent="#accordionExample3">
                <div class="accordion-body">
                  پس از پرداخت، امکان تغییر مبلغ وجود ندارد. در صورت بروز مشکلی، لطفاً با پشتیبانی مشتریان تماس بگیرید
                  تا راهنمایی‌های لازم ارائه شود.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-10">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-10" aria-expanded="false" aria-controls="collapse-10">
                  05. در صورت بروز مشکل در پرداخت، چه باید کرد؟
                </button>
              </h2>
              <div id="collapse-10" class="accordion-collapse collapse" aria-labelledby="heading-10"
                data-bs-parent="#accordionExample3">
                <div class="accordion-body">
                  در صورت بروز مشکل در پرداخت، لطفاً با پشتیبانی مشتریان تماس بگیرید و اطلاعات مشکل را ارائه دهید. ما
                  به سرعت اقدامات لازم را برای حل مشکل انجام خواهیم داد.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-lg-4">
        <div class="faq-item">
          <h3>حمل و نقل
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="25" viewBox="0 0 27 25">
              <path
                d="M13.3613 5.35714L17.3697 0L17.5924 6.91964L24.0504 4.91071L20.042 10.396L26.5 12.7232L20.042 14.7321L24.0504 20.3125L17.3697 18.0804V25L13.1387 19.4196L9.13025 25L8.90756 18.0804L2.44958 20.0893L6.45798 14.7321L0 12.5L6.45798 10.2679L2.44958 4.91071L9.13025 6.69643V0L13.3613 5.35714Z" />
            </svg>
          </h3>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="faq-content">
          <div class="accordion" id="accordionExample4">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-11">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-11"
                  aria-expanded="true" aria-controls="collapse-11">
                  01. هزینه حمل و نقل چقدر است؟
                </button>
              </h2>
              <div id="collapse-11" class="accordion-collapse collapse show" aria-labelledby="heading-11"
                data-bs-parent="#accordionExample4">
                <div class="accordion-body">
                  هزینه حمل و نقل بستگی به مقصد و وزن سفارش دارد. هزینه نهایی حمل و نقل در هنگام تسویه حساب محاسبه و
                  نمایش داده می‌شود.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-12">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-12" aria-expanded="false" aria-controls="collapse-12">
                  02. زمان تحویل سفارش چقدر است؟
                </button>
              </h2>
              <div id="collapse-12" class="accordion-collapse collapse" aria-labelledby="heading-12"
                data-bs-parent="#accordionExample4">
                <div class="accordion-body">
                  زمان تحویل سفارش به موقعیت جغرافیایی و نوع حمل و نقل انتخابی شما بستگی دارد. معمولاً زمان تحویل بین
                  3 تا 7 روز کاری است.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-13">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-13" aria-expanded="false" aria-controls="collapse-13">
                  03. آیا می‌توانم وضعیت سفارش را پیگیری کنم؟
                </button>
              </h2>
              <div id="collapse-13" class="accordion-collapse collapse" aria-labelledby="heading-13"
                data-bs-parent="#accordionExample4">
                <div class="accordion-body">
                  بله، شما می‌توانید وضعیت سفارش خود را از طریق حساب کاربری یا لینک پیگیری ارسال شده به ایمیل خود
                  پیگیری کنید.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-14">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-14" aria-expanded="false" aria-controls="collapse-14">
                  04. آیا امکان ارسال فوری وجود دارد؟
                </button>
              </h2>
              <div id="collapse-14" class="accordion-collapse collapse" aria-labelledby="heading-14"
                data-bs-parent="#accordionExample4">
                <div class="accordion-body">
                  بله، ما خدمات ارسال فوری را نیز ارائه می‌دهیم. برای دریافت اطلاعات بیشتر و هزینه‌های مربوطه، لطفاً
                  با پشتیبانی مشتریان تماس بگیرید.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-15">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-15" aria-expanded="false" aria-controls="collapse-15">
                  05. چگونه می‌توانم آدرس ارسال را تغییر دهم؟
                </button>
              </h2>
              <div id="collapse-15" class="accordion-collapse collapse" aria-labelledby="heading-15"
                data-bs-parent="#accordionExample4">
                <div class="accordion-body">
                  برای تغییر آدرس ارسال، لطفاً قبل از ارسال سفارش با پشتیبانی مشتریان تماس بگیرید تا تغییرات لازم
                  انجام شود.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include "footer.html" %}

{% endblock content %}