{% extends "base_shop.html" %}
{% block content %}
{% include "header.html" %}

{% load static %}
{% load humanize %}

<div class="dashboard-section mt-110 mb-110">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3">
        <div class="dashboard-left">
          <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active nav-btn-style mx-auto" id="v-pills-dashboard-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-dashboard" type="button" role="tab" aria-controls="v-pills-dashboard"
              aria-selected="true">
              <svg width="20" height="20" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                <!-- ... SVG ... -->
              </svg>داشبورد</button>
            <button class="nav-link nav-btn-style mx-auto" id="v-pills-profile-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
              aria-selected="true"><i class="lar la-user"></i>
              <svg width="20" height="20" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                <!-- ... SVG ... -->
              </svg>پروفایل من</button>

            <button class="nav-link nav-btn-style mx-auto" id="v-pills-purchase-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-purchase" type="button" role="tab" aria-controls="v-pills-purchase"
              aria-selected="true">
              <svg width="20" height="20" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                <!-- ... SVG ... -->
              </svg>
              سفارشات</button>
            <a class="nav-link nav-btn-style mx-auto" href="{% url "logout_url" %}" role="tab">
              <svg width="20" height="20" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                <!-- ... SVG ... -->
              </svg>خروج</a>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="tab-content" id="v-pills-tabContent">

          <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel"
            aria-labelledby="v-pills-dashboard-tab">
            <div class="dashboard-area box--shadow">
              <p>سلام <strong>{{ user_profile.first_name }}</strong>!</p>
              <p>از طریق داشبورد حساب کاربری خود می‌توانید نمایی از فعالیت‌های اخیر حساب خود را مشاهده کرده و اطلاعات
                حساب خود را به‌روزرسانی کنید. برای مشاهده یا ویرایش اطلاعات، یکی از لینک‌های زیر را انتخاب کنید.</p>
              <div class="row pt-25 g-4">
                <div class="col-md-6 col-sm-6">
                  <div class="dashboard-card hover-border1 wow fadeInDown" data-wow-duration="1.5s"
                    data-wow-delay=".2s">
                    <div class="header">
                      <h5>مجموع سفارش</h5>
                    </div>
                    <div class="body">
                      <div class="counter-item">
                        <h2>{{ total_orders }}</h2>
                      </div>
                      <div class="icon">
                        <!-- ... SVG ... -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="dashboard-card hover-border1 wow fadeInDown" data-wow-duration="1.5s"
                    data-wow-delay=".4s">
                    <div class="header">
                      <h5>سفارشات معلق</h5>
                    </div>
                    <div class="body">
                      <div class="counter-item">
                        <h2>{{ pending_orders }}</h2>
                      </div>
                      <div class="icon">
                        <!-- ... SVG ... -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- ویرایش نمایه -->
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="dashboard-profile">
              <div class="table-title-area">
                <h3>نمایه خود را ویرایش کنید</h3>
                <p>از داشبورد حساب من می توانید یک عکس فوری از خود را مشاهده کنید
                  فعالیت اخیر حساب و به روز رسانی اطلاعات حساب خود. لینک زیر را انتخاب کنید
                  برای مشاهده یا ویرایش اطلاعات.</p>
              </div>

              <div class="form-wrapper">
                <form method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-6 mb-25">
                      <div class="form-inner">
                        <input type="text" placeholder="نام کوچک خود را وارد کنید*" value="{{ user_profile.first_name }}" name="first_name">
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6 mb-25">
                      <div class="form-inner">
                        <input type="text" placeholder="نام خانوادگی خود را وارد کنید*" value="{{ user_profile.last_name }}" name="last_name">
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6 mb-25">
                      <div class="form-inner">
                        <input type="text" placeholder="شماره تماس خود را وارد کنید" value="{{ user_more.phone_number }}" name="phone">
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6 mb-25">
                      <div class="form-inner">
                        <input type="text" placeholder="آدرس ایمیل خود را وارد کنید*" value="{{ user_profile.email }}" name="email">
                      </div>
                    </div>
                    <div class="col-12 mb-25">
                      <div class="form-inner">
                        <input type="text" placeholder="آدرس فعلی خود را وارد کنید" value="{{ user_more.addres }}" name="address">
                      </div>
                    </div>
                    
                    <div class="col-12 mb-25">
                      <div class="form-inner">
                        <input type="password" name="password" id="password4" placeholder="کلمه عبور" />
                        <i class="bi bi-eye-slash" id="togglePassword4"></i>
                      </div>
                    </div>
                    <div class="col-12 mb-25">
                      <div class="form-inner mb-0">
                        <input type="password" name="password_confirm" id="password5" placeholder="تأیید کلمه عبور" />
                        <i class="bi bi-eye-slash" id="togglePassword5"></i>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="button-group">
                        <button type="submit" class="primary-btn3 black-bg hover-btn5 hover-white">به‌روزرسانی
                          پروفایل</button>
                        <button class="primary-btn3 hover-btn5">لغو</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="v-pills-purchase" role="tabpanel" aria-labelledby="v-pills-purchase-tab">
            <div class="table-title-area">
              <h3>سفارش‌های من</h3>
            </div>
            <div class="table-wrapper">
              <table class="eg-table order-table table mb-0">
                <thead>
                  <tr>
                    <th>تصویر</th>
                    <th>کد پیگیری</th>
                    <th>شماره سفارش</th>
                    <th>جزئیات محصول</th>
                    <th>قیمت</th>
                    <th>وضعیت</th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in user_orders %}
                    {% for item in order.items.all %}
                      <tr>
                        <td data-label="Image">
                          <a href="{% url "show_product_url" item.product.id %}">
                              {% if item.product.image1 %}
                              <img alt="image" src="{{ item.product.image1.url }}" class="img-fluid">
                              {% else %}
                              <img alt="image" src="{% static 'img/no-image.png' %}" class="img-fluid">
                              {% endif %}
                          </a>
                        </td>
                      
                      <td data-label="Order Tracking Code">{{ order.tracking_code }}</td>
                      <td data-label="Order ID">#{{ order.id }}</td>
                      <td data-label="Product Details">{{ item.product.name }}</td>
                      <td data-label="price">{{ item.price|intcomma }} {{ item.product.currency|default:"تومان" }}</td>
                      <td data-label="Status" class="{% if order.status == 'در انتظار' %}text-red{% else %}text-green{% endif %}">
                        {{ order.status }}
                      </td>
                      </tr>
                    {% endfor %}
                    {% empty %}
                    <tr>
                      <td colspan="5" class="text-center">سفارشی یافت نشد.</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="table-pagination">
              <p>نمایش {{ user_orders|length }} سفارش</p>
              <!-- صفحه‌بندی در صورت نیاز -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
{% endblock content %}