{% include "base_shop.html" %}
{% load static %}
{% load humanize %}


{% block content %}
{% include "header.html" %}


<div class="whistlist-section mt-110 mb-110">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="whistlist-table">
          <table class="eg-table2">
            <thead>
              <tr>
                <th></th>
                <th>محصول</th>
                <th>قیمت</th>
                <th>موجودی</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% if wish_list %}
                {% for item in wish_list %}
                  <tr>
                    <td>
                      {% csrf_token %}
                        <a href="{% url "remove_from_wishlist_url" item.id %}" class="delete-icon" style="background:none;border:none;">
                        <i class="bi bi-x-lg"></i>
                        </a>
                    </td>
                    <td data-label="Product" class="table-product">
                      <div class="product-img">
                        <img src="{{ item.image1.url }}" alt="{{ item.name }}">
                      </div>
                      <div class="product-content">
                        <h6><a href="{% url 'show_product_url' item.id %}">{{ item.name }}</a></h6>
                      </div>
                    </td>
                    <td data-label="Price">
                      <p class="price">
                        {% if item.special_price %}
                          <del>{{ item.price|intcomma }} تومان</del>
                        {% endif %}
                        {{ item.special_price|intcomma }} تومان
                      </p>
                    </td>
                    <td data-label="Stock">
                      {% if item.stock != 0%}
                        <span>موجود</span>
                      {% else %}
                        <span class="text-danger">ناموجود</span>
                      {% endif %}
                    </td>
                    <td>
                      {% if item.stock != 0%}
                        
                        <form method="post" action="{% url 'add_cart_url' item.id %}" style="display:inline;">
                          {% csrf_token %}
                          <button type="submit" class="add-cart-btn hover-btn2">
                            <i class="bi bi-bag-check"></i>افزودن به سبد خرید
                          </button>
                        </form>
                      {% else %}
                        <button class="add-cart-btn hover-btn2" disabled>ناموجود</button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="5" class="text-center">لیست علاقه‌مندی‌های شما خالی است.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
{% endblock content %}

